@using System.Text.Json;

<div>
    <h3>@Monster.Name</h3>
    <img src="@Monster.ImageLink" style="height: 200px;" />
    <p>Challenge Rating : @Monster.ChallengeRating</p>
    <p>AC : @Monster.ArmorClass</p>
    <p>HP: @Monster.HitPoints</p>
    <div class="d-flex ">
    <p style="width:73px">STR: @Monster.Attributes.Strength</p>
    <p style="width:73px">DEX: @Monster.Attributes.Dexterity</p>
    <p style="width:73px">CON: @Monster.Attributes.Constitution</p>
    <p style="width:73px">INT: @Monster.Attributes.Intelligence</p>
    <p style="width:73px">WIS: @Monster.Attributes.Wisdom</p>
    <p style="width:73px">CHA: @Monster.Attributes.Charisma</p>
    </div>
    @foreach (var spell in Monster.Spells)
    {
        <p>Spell Name: @spell.Name</p>
        <p>Spell Desc: @spell.Description</p>
    }
</div>

@code {
    [Parameter]
    public Dungemon Monster { get; set; } = null!;
}