@using System.Text.Json;

<div>
    <h3>@Monster.Name</h3>
    
    <img src="@Monster.ImageLink" style="height: 200px;"/>
    <EditForm model="Monster">
    
    <label for="challenge-rating">Challenge Rating :</label>
    <InputNumber id="challenge-rating" TValue="float" @bind-Value="@Monster.ChallengeRating" />
    <label for="AC">AC :</label>
    <InputNumber id="AC" TValue="int" @bind-value="@Monster.ArmorClass"/>
    <label for="HP">HP : </label>
        <InputNumber id="HP" TValue="int" @bind-value="@Monster.HitPoints" />
    <div>
            <label for="str" style="width:33px">STR </label> <InputNumber id="str" TValue="int" @bind-value="@Monster.Attributes.Strength" style="width:40px" />
            <label for="dex" style="width:33px">DEX </label> <InputNumber id="dex" TValue="int" @bind-value="@Monster.Attributes.Dexterity" style="width:40px" />
            <label for="con" style="width:33px">CON </label> <InputNumber id="con" TValue="int" @bind-value="@Monster.Attributes.Constitution" style="width:40px" />
            <label for="int" style="width:33px">INT </label> <InputNumber id="int" TValue="int" @bind-value="@Monster.Attributes.Intelligence" style="width:40px" />
            <label for="wis" style="width:33px">WIS </label> <InputNumber id="wis" TValue="int" @bind-value="@Monster.Attributes.Wisdom" style="width:40px" />
            <label for="cha" style="width:33px">CHA </label> <InputNumber id="cha" TValue="int" @bind-value="@Monster.Attributes.Charisma" style="width:40px" />
    </div>


    </EditForm>
    @foreach(var spell in Monster.Spells)
    {
        <SpellDisplay Spell="spell"/>
    }
    
    
</div>

@code {
    [Parameter]
    public Dungemon Monster { get; set; } = null!;
}