<div class="grid-item" spaceId="7" )>
	<label for="STR">STR</label>
</div>
<div class="grid-item" spaceId="8">
	<InputNumber id="STR" TValue="int" @bind-Value="@Dungemon.Strength" disabled="@(!IsEditing)" style="width: 100%; text-align: center; border: none;" class="inputNum" />
</div>

<div class="grid-item" spaceId="9">
	<ValidationMessage For="() => Dungemon.Strength" />
</div>
<div class="grid-item text-center" spaceId="10">
	<label for="DEX">DEX</label>
</div>
<div class="grid-item" spaceId="11">
	<InputNumber id="DEX" TValue="int" @bind-Value="@Dungemon.Dexterity" disabled="@(!IsEditing)" style="width: 100%; text-align: center; border: none;" class="inputNum" />
</div>
<div class="grid-item text-center" spaceId="12">
	<ValidationMessage For="() => Dungemon.Dexterity" />
</div>


<div class="grid-item  text-center" spaceId="13">
	<label for="CON">CON</label>
</div>
<div class="grid-item" spaceId="14">
	<InputNumber id="CON" TValue="int" @bind-Value="@Dungemon.Constitution" disabled="@(!IsEditing)" style="width: 100%; text-align: center; border: none;" class="inputNum" />
</div>
<div class="grid-item text-center" spaceId="15">
	<ValidationMessage For="() => Dungemon.Constitution" />
</div>


<div class="grid-item text-center" spaceId="16">
	<label for="INT">INT</label>
</div>
<div class="grid-item" spaceId="17">
	<InputNumber id="cr" TValue="int" @bind-Value="@Dungemon.Intelligence" disabled="@(!IsEditing)" style="width: 100%; text-align: center; border: none;" class="inputNum" />
</div>
<div class="grid-item text-center" spaceId="18">
	<ValidationMessage For="() => Dungemon.Intelligence" />
</div>


<div class="grid-item text-center" spaceId="19">
	<label for="WIS">WIS</label>
</div>
<div class="grid-item " spaceId="20">
	<InputNumber id="WIS" TValue="int" @bind-Value="@Dungemon.Wisdom" disabled="@(!IsEditing)" style="width: 100%; text-align: center; border: none;" class="inputNum" />
</div>
<div class="grid-item text-center" spaceId="21">
	<ValidationMessage For="() => Dungemon.Wisdom" />
</div>


<div class="grid-item text-center " spaceId="22">
	<label for="CHA">CHA</label>
</div>
<div class="grid-item" spaceId="23">
	<InputNumber id="CHA" TValue="int" @bind-Value="@Dungemon.Charisma" disabled="@(!IsEditing)" style="width: 100%; text-align: center; border: none;" class="inpu" />
</div>
<div class="grid-item text-center" spaceId="24">
	<ValidationMessage For="() => Dungemon.Charisma" />
</div>


@code {
	[Parameter]
	public Dungemon Dungemon { get; set; } = null!;
	[Parameter]
	public bool IsEditing { get; set; }

}
